# Replace <db_password> with your actual MongoDB Atlas database password
MONGODB_URI=mongodb+srv://krishnatejnk_db_user:<db_password>@cluster0.c0txvet.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

PORT=3000
